# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for Zowie
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/mhucka/zowie
# =============================================================================

aenum           == 3.1.0
biplist         == 1.0.3
boltons         == 21.0.0
bun             == 0.0.8
commonpy        == 1.5.0
keyring         == 21.5.0
keyrings.alt    == 4.0.2
pdfrw           == 0.4
plac            == 1.3.3
py-applescript  == 1.0.2
pyzotero        == 1.4.25
pyxattr         == 0.7.2
setuptools      == 57.0.0
sidetrack       == 2.0.0

# The following are needed by the py-applescript module, but because the
# py-applescript module doesn't have a requirements.txt, installation via pip
# ends up missing these dependencies.
pyobjc-core                      == 7.1.0
pyobjc-framework-AppleScriptKit  == 7.1.0
pyobjc-framework-AppleScriptObjC == 7.1.0
