aenum           >= 2.2.3
biplist         >= 1.0.3
bun             >= 0.0.3
commonpy        >= 1.0.0
keyring         >= 12.2.0
keyrings.alt    >= 3.1
pdfrw           >= 0.4
plac            >= 1.0.0
py-applescript  >= 1.0.2
pyzotero        >= 1.4.18
pyxattr         >= 0.7.1
setuptools      >= 41.0.1
sidetrack       >= 1.0.0

# The following is needed by the applescript module, but because the
# applescript module doesn't have a requirements.txt, installation
# via pip ends up missing this dependency:
pyobjc          >= 7.0.1
